body {
  font-family: sans-serif;
  background: rgb(10, 3, 1);
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 15vw;
  max-width: 200px;
  z-index: 5;
}

#wheel-container {
  position: relative;
  display: inline-block;
  margin-top: 80px;
  width: 80vw;
  max-width: 800px;
}

#wheel {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 20vw;
  max-width: 180px;
  z-index: 4;
  transition: transform 5s ease-out;
}

/* الغطاء */
#wheel-cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 20;
  opacity: 1;
  transition: opacity 1s ease-out;
}
#wheel-cover-img.hidden {
  opacity: 0;
  pointer-events: none;
}

button {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 20px;
}

.note {
  color: red;
  font-size: 18px;
}

#winner {
  margin-top: 30px;
  text-align: center;
}

#winner-text {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 15px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

#winner-text.success { color: #d62828; }
#winner-text.try { color: #2E8B57; }
#winner-text.lose { color: #FF0000; }

#winner-img {
  width: 200px;
  max-width: 250px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eee;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9999;
}

.hidden { display: none; }

#admin-panel {
  margin-top: 30px;
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

#prize-settings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
#prize-settings div {
  border: 1px solid #ddd;
  padding: 10px;
}

@keyframes fadeIn { to { opacity: 1; } }

@keyframes shake {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  25% { transform: translate(-50%, -50%) rotate(-5deg); }
  50% { transform: translate(-50%, -50%) rotate(5deg); }
  75% { transform: translate(-50%, -50%) rotate(-5deg); }
  100% { transform: translate(-50%, -50%) rotate(0deg); }
}

#confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;

}
